.main{
    width: 800px;
    height:500px;
    background-color: red;
    font-size:100px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(24, 28, 255);
    text-align: center;
}

.main:click-text{
        color:blue;
        background-color: red;
        font-size: 110px;
        transform: scale(1); 
        transition: font-size 0.5s ease;
    }
    